<!DOCTYPE html>
<html>
<head>
    <a href="/">HOME</a>
    <a href="/news">NEWS</a>
    <a href="/setalarm">SET ALARM</a>
    <a href="/alarmlist">ALARM LIST</a>
</head>
<meta http-equiv="refresh" content="30"/>
<!--Refreshing the page every 30 second to keep information up-to--date-->
<body>
<h1>Alarm List</h1>
<h2>
    {%for i in alarm_list%}
    <li>{{i}}</li>
    {%endfor%}
</h2>
<button onclick="window.location.href = '/cancelalarm';">Cancel alarm</button>
<h1>Notifications</h1>
<h2>
    {%for i in notification%}
    <li>{{i}}</li>
    {%endfor%}
</h2>
</body>
</html>